/* container 默认最大宽度是1170px 如果需要可以更改 */
/* 用媒体查询来改 你需要多大就设置多大宽度 */
@media screen and (min-width:1280px) {
    .container {
        width: 1280px;
    }
}
header {
    padding-left: 0!important;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none !important;
    color: #666;
}
article {
    padding-left: 0 !important;
}
.container {
    min-width: 600px;
}
.logo {
    height: 120px;
    background-color: #000;
    text-align: center;
    border-radius: 5px;
}
.logo p {
    line-height: 120px;
    color: #fff;
    font-size: 36px;
    font-family: 宋体;
}
.sky {
    background-color: skyblue;
    text-align: center;
    height: 80px;
    border-radius: 25px;
}
.sky p {
    font-size: 24px;
    color: #eee;
    font-family: 楷体;
    line-height: 80px;
}
.nav {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}
/* 当我们进入小屏幕或超小屏幕的时候 使nav li 浮动 宽度各占20% */
@media screen and (max-width:992px) {
    .nav li {
        float: left;
        width: 20%;
    }
}
/* 当我们进入超小屏幕的时候 使nav li 里面的字体改变 */
@media screen and (max-width:768px) {
    .nav ul li a {
        font-size: 12px;
    }
    .news li:nth-child(1) {
        width: 100% !important;
    }
}
@media screen and (max-width:1198px) {
    .news li:nth-child(1) {
        width: 100% !important;
    }
}
.nav ul li a {
    display: block;
    height: 45px;
    line-height: 48px;
    font-size: 16px;
    padding-left: 30px;
}
.nav ul li a:hover {
    background-color: #ccc;
    text-decoration: none;
    color: #333;
}
.nav a::before {
    vertical-align: middle;
    padding-right: 5px;
}
.news li {
    float: left;
    width: 23%;
    height: 129px;
    background-color: #ccc;
    margin-left: 8px;
    margin-top: 8px;
}
.news li p {
    font-size: 24px;
    text-align: center;
    line-height: 129px;
    color: #777;
}
.news li:nth-child(1) {
    width: 50%;
    height: 266px;
    background-color: #eee;
}
.carousel ,
.carousel img {
    height: 266px !important;
    width: 100%;
}
.news li:nth-child(1) p {
    font-size: 36px;
    text-align: center;
    line-height: 266px;
}
.footer {
    border-top: 1px solid #ccc;
    margin-top: 10px;
}
.cut p {
    height: 200px;
    background-color: pink;
}
.list-h {
    height: 180px;
    background-color: skyblue;
    border-radius: 15px;
}
.list-h p {
    color: #eee; 
    line-height: 180px;
    text-align: center;
    font-size: 28px;
    font-family: 楷体;
}
.list-f {
    height: 150px;
    margin-top: 15px;
    background-color: purple;
    border-radius: 10px;
}
.list-f p {
    color: #eee; 
    line-height: 150px;
    text-align: center;
    font-size: 28px;
    font-family: 楷体;
}